<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.png", width: 300, alt: "profile image", class: "profile-img" %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor turpis imperdiet, consequat lectus sed, dapibus ipsum. In euismod aliquet placerat. Integer sed dui vel nibh placerat placerat a in dui. Aliquam egestas ante vel magna volutpat auctor sit amet in nisl. Ut tincidunt velit vel sapien fermentum, ut maximus arcu venenatis. Suspendisse gravida consequat tortor id suscipit. Pellentesque elit ligula, aliquet at ultrices et, facilisis a purus. Praesent at urna et ante dignissim placerat quis ac diam. Nam congue ultrices tellus, eget dignissim leo aliquet ac. Donec lacus risus, tempor eu elementum vel, ultricies non tellus.</p>
    
        <p>Pellentesque aliquet ac enim in hendrerit. Cras ut pretium nunc. Cras luctus lacinia risus, non aliquet quam fermentum eu. Morbi semper nisl est. Quisque ac interdum orci, vitae viverra massa. Ut tellus eros, laoreet sit amet sollicitudin ut, vulputate vitae turpis. Maecenas tellus velit, laoreet vel quam nec, bibendum dictum magna. Mauris ante arcu, mattis id finibus ut, facilisis sit amet nibh.</p>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>