<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor turpis imperdiet, consequat lectus sed, dapibus ipsum. In euismod aliquet placerat. Integer sed dui vel nibh placerat placerat a in dui. Aliquam egestas ante vel magna volutpat auctor sit amet in nisl. Ut tincidunt velit vel sapien fermentum, ut maximus arcu venenatis. Suspendisse gravida consequat tortor id suscipit. Pellentesque elit ligula, aliquet at ultrices et, facilisis a purus. Praesent at urna et ante dignissim placerat quis ac diam. Nam congue ultrices tellus, eget dignissim leo aliquet ac. Donec lacus risus, tempor eu elementum vel, ultricies non tellus.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>